@font-face {
  font-family: "Digital-7";
  src: local("Digital-7"), url("/fonts/digital-7.regular.ttf") format("truetype");
}
body {
  background: rgb(246, 19, 126);
  background: linear-gradient(90deg, rgb(246, 19, 126) 0%, rgb(185, 62, 139) 23%, rgb(204, 64, 180) 49%, rgb(175, 46, 172) 74%, rgb(32, 59, 65) 100%);
}

#calc {
  position: relative;
  font-family: "Digital-7";
  max-width: 430px;
  padding: 20px;
  margin: 100px auto;
  display: grid;
  gap: 10px;
  border-radius: 5px;
  box-shadow: #000000 0px 3px 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: linear-gradient(to bottom, rgb(93, 99, 102) 18%, rgb(10, 14, 10) 54%, rgb(10, 8, 9) 100%);
}
@media (max-width: 336px) {
  #calc {
    margin-top: 0;
  }
}
#calc #result,
#calc button {
  border: 3px solid rgba(255, 255, 255, 0.54);
  color: rgb(225, 220, 220);
  border-radius: 5px;
}
#calc #result {
  grid-column: span 3;
  height: 55px;
  margin: 0;
  font-size: 50px;
  overflow: hidden;
}
#calc button {
  max-width: 100px;
  height: 60px;
  font-size: 26px;
  background: transparent;
  transition: 0.2s ease;
  font-family: inherit;
}
#calc button:hover {
  scale: 1.1;
}
#calc button:active {
  scale: 1;
}
#calc .number:nth-child(11) {
  grid-row: 5/6;
  grid-column: 2/3;
}
#calc .operation:nth-child(12) {
  grid-row: 1/2;
  grid-column: 4/5;
}
#calc .operation:nth-child(13) {
  grid-row: 2/3;
  grid-column: 4/5;
}
#calc .operation:nth-child(14) {
  grid-column: 4/5;
}
#calc .operation:nth-child(15) {
  grid-column: 4/5;
  grid-row: 3/4;
}
#calc .operation:nth-child(16) {
  grid-row: 5/6;
  grid-column: 4/5;
}
#calc .operation:nth-child(17) {
  grid-row: 5/6;
  grid-column: 3/4;
}
#calc .operation:nth-child(18) {
  grid-row: 5/6;
}

#watch {
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Digital-7";
  font-size: 50px;
  padding: 10px;
  min-width: 200px;
  color: rgb(28, 126, 28);
  background: #111111;
  box-shadow: 1px 1px 5px 4px grey inset;
  text-shadow: 3px 3px 0px rgb(47, 224, 47);
}
@media (max-width: 536px) {
  #watch {
    width: 100%;
  }
}
@media (max-width: 336px) {
  #watch {
    font-size: 50px;
  }
}

@font-face {
  font-family: "Digital-7";
  src: local("Digital-7"), url("/fonts/digital-7.regular.ttf") format("truetype");
}