#watch {
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Digital-7";
  font-size: 50px;
  padding: 10px;
  min-width: 200px;
  color: rgb(28, 126, 28);
  background: #111111;
  box-shadow: 1px 1px 5px 4px grey inset;
  text-shadow: 3px 3px 0px rgb(47, 224, 47);
  @media (max-width: 536px) {
    width: 100%;
  }
  @media (max-width: 336px) {
    font-size: 50px;
  }
}
